<%= form_for(@article) do |f| %>
    <div class="field">
        <%= f.text_field :title, placeholder: "Title"%>
    </div>

    <div class="field">
        <%= f.text_area :body, placeholder: "Article body here"%>
    </div>
<%end%>